@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    background-image: url('../media/img/login-background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

section{
    position: absolute;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .signin{
    position: absolute;
    width: 400px;
    background: #282c34;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    animation: fadeInDown 0.5s forwards;
}

section .signin .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

section .signin .content .signup-title{
    font-size: 1.75em;
    color: #0093FF;
    margin-bottom: 5px;
    font-weight: bold;
}

section .signin .content .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signin .content .form .message{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    font-size: 12px;
}

section .signin .content .form .inputBx{
    position: relative;
    width: 100%;
}

section .signin .content .form .inputBx span{
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

section .signin .content .form .inputBx a{
    color: #0093FF;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

section .signin .content .form .inputBx input{
    position: relative;
    width: 100%;
    background: #1f2126;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    margin-top: 8px;
}

section .signin .content .form .inputBx i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

section .signin .content .form .inputBx input:focus ~i,
section .signin .content .form .inputBx input:valid ~i{
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

.signin .content .form .links{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signin .content .form .links a{
    color: #0093FF;
    text-decoration: none;
}

.signin .content .form .links a:nth-child(2){
    color: #0093FF;
    font-weight: 600;
}

.signin .content .form .inputBx input[type="submit"]{
    padding: 10px;
    background: #0093FF;
    color: #111;
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

@keyframes fadeInDown {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      transform: scale(0.95);
      opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}